<div id="exampleModalCenter" class="modal fade" tabindex="-1" aria-labelledby="exampleModalCenterTitle"
  style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="card user-card user-card-1">
      </div>
      <div class="modal-footer">
        <%= link_to t("books.edit"), "javascript:void(0)",
        class:"btn btn-primary", :data =>{:url=>""},id:"book_url" %>
        <button type="button" class="btn  btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
