<div class="row">
  <div class="col-sm-12">
    <h4 class="m-43 text-center">
      <%= t "top_book" %>
    </h4>
    <hr>
  </div>
</div>
<div class="text-center">
  <a href="#">
    <button class="btn btn-outline-danger more-btn">
      <%= t "more" %> &gt;&gt;&gt;
    </button>
  </a>
</div>
