default: &default
  adapter: mysql2
  encoding: utf8mb4
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: root
  password:
  socket: /var/run/mysqld/mysqld.sock

development:
  <<: *default
  database: intern_2022_ruby_library_management_development

test:
  <<: *default
  database: intern_2022_ruby_library_management_test

production:
  <<: *default
  database: intern_2022_ruby_library_management_production
  username: intern_2022_ruby_library_management
  password: <%= ENV['INTERN_2022_RUBY_LIBRARY_MANAGEMENT_DATABASE_PASSWORD'] %>
