@import "toastr";
@import "color";
@import "assets/select2.min";

.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: 700;
  color: $whitef;
  -webkit-text-shadow: 0 1px 0 $whitef;
  text-shadow: 0 1px 0 $whitef;
  opacity: .8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
  &:hover{
    color: $black0;
    text-decoration: none;
    cursor: pointer;
    opacity: .4;
  }
}

#error_explanation, .error_danger{
  display: none;
}

.toast-progress{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: $black0;
  opacity: 0.4;
}

#toast-container {
  position: fixed;
  z-index: 999999;
  pointer-events: none;
  div{
    position: relative;
  }
}

.alert_mess{
  display: none;
}

.pagination{
  .page{
    a{
      padding: 0.375rem 0.75rem;
      position: relative;
      display: block;
      color: $bluef;
      background-color: $whitef;
      border: 1px solid $borderw;
      transition: color 0.15s ease-in-out,
      background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
    }
  }
  .page.active{
    z-index: 3;
    color: $whitef;
    background-color: $bluef;
    border-color: $bluef;
    padding: 0.375rem 0.75rem;
  }
  .page.disabled  {
    padding: 0.375rem 0.75rem;
    color: $silverf;
    pointer-events: none;
    background-color: $whitef;
    border-color: $borderw;
    border: 1px solid $borderw;
  }
  .page.gap {
    padding: 0.375rem 0.75rem;
    color: $silverf;
    pointer-events: none;
    background-color: $whitef;
    border-color: $borderw;
    border: 1px solid $borderw;
  }
}

.user-card {
  .user-about-block {
    margin-top: -50px;
  }
  .wid-102 {
    width: 102px;
  }
}
.wid-60 {
  width: 60px;
}

.table-user {
  tr{
    height: 63px;
    line-height: 63px;
  }
}

.table-book {
  td {
    height: 129px;
    line-height: 145px;
    overflow: hidden;
  }
}

.w-180 {
  width: 180px;
}

.w-150 {
  width: 150px;
}

.w-100px {
  width: 100px;
}

.w-400 {
  min-width: 400px;
  width: 400px;
}

.text-bold {
  font-weight: bold;
}

.box-gender {
  & > div {
    margin-right: 1rem;
  }
}

.author_image {
  width: 120px;
  height: 80px;
}

#author_image_preview {
  text-align: center;

  & > img {
    width: 50%;
    height: 100%;
    margin: auto;
    margin-bottom: 1rem;
  }
}

.box-author-detail{
  padding: 1rem 2rem;

  &__item {
    margin-bottom: 1rem;

    strong {
      margin-right: 5px;
    }
  }
}
